#main{
    text-align: center;
    margin: auto;
    position:relative;
    top: 10%;
    width:80%;
    height: 100%;
    right:0%;
}

#mainSection {
    text-align: center;
    margin: auto;
    position:relative;
    top: 10%;
    width:80%;
    height: 100%;
    right:10%;
}

#client {
    text-align: center;
    margin: auto;
    position:relative;
    top:2.8%;
    width:75%;
    height: 7%;
}


.popup1 {
    height: 30px;
    border-style: solid;
    border-radius: 1px;
    border-width: 1px;
    border-color: black;
    width: 180px;
    padding: 8px;
    left:105%;
    top: 120px;
    position: relative;
    cursor: pointer;
}

.popup2 {
    height: 30px;
    border-style: solid;
    border-radius: 1px;
    border-width: 1px;
    border-color: black;
    width: 180px;
    padding: 8px;
    left:105%;
    position: relative;
    cursor: pointer;
    top:240px;
}

/* The actual popup (appears on top) */
.popup1 .popuptext {
    visibility: hidden;
    width: 15.6%;
    color: black;
    text-align: center;
    top: 42%;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup1 .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.popup2 .popuptext {
    visibility: hidden;
    width: 19.5%;
    color: black;
    text-align: center;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup2 .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


.heading {
   text-align: center;
   font-size: 60px;
   font-weight: bold;
   top: 2.7%;
   margin-bottom: -10%;
}

.heading2 {
   text-align: center;
   font-size: 48px;
   font-weight: bold;
}

.descAndButtons {
   text-align: center;
   font-size: 28px;
    margin-top: 15%;
}

#signInRedirect {
   position: relative;
    left: -1.5%;
    top: 9.7%;
    border-radius: 8px;
    background-color: #4da6ff;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

#signInRedirect:hover {
    opacity: 0.7;
}

#signUpRedirect {
    position: relative;
    left: 8.3%;
    top: 9.7%;
    border-radius: 8px;
    background-color: #4da6ff;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

#signUpRedirect:hover {
    opacity: 0.7;
}

#ClientsRedirect {
   position: relative;
    left: 3.1%;
    border-radius: 8px;
    background-color: #4da6ff;
    border: none;
    color: white;
    padding: 40px 100px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

#ClientsRedirect:hover {
    opacity: 0.7;
}

#space{
    height: 100%;
}

#clientSection {
    text-align: left;
    margin: auto;
    position:relative;
    top: 7%;
    width:100%;
    height: 41.7%;
}
.clientList {
    position:absolute;
    margin-top: 10%;
    width: 100%;
    list-style-type: none;
    padding: 0;
    border: 1px solid #ddd;
}

.clientList .clientItem {
    left: 46.9%;
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.clientList .clientItem .clientUsername{
    position: relative;
    text-align: left;
    text-decoration: underline;
    font-weight: bold;
    left: 10%;
}

.clientList .clientItem .clientName {
    position: relative;
    left: 10%;
    text-align: left;
    width:30%;
    top:10px;
}

.clientList .clientItem .clientInfo {
    bottom: 20px;
    width: 50%;
    position: relative;
    left: 52%;
    text-align: center;
}


