#mainSection {
    text-align: center;
    margin: auto;
    position:relative;
    top: 100px;
    width:600px;
    height: 400px;
}

.popup1 {
    height: 20px;
    border-style: solid;
    border-radius: 1px;
    border-width: 1px;
    border-color: black;
    width: 200px;
    padding: 8px;
    left:800px;
    position: relative;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup1 .popuptext {
    visibility: hidden;
    width: 250px;
    color: black;
    text-align: center;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup1 .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}


.heading {
   text-align: left;
   font-size: 48px;
   font-weight: bold;
}

.heading2 {
   text-align: center;
   font-size: 48px;
   font-weight: bold;
}

.descAndButtons {
   text-align: left;
   font-size: 28px;
}

#signInRedirect {
   position: relative;
    left: -20px;
    top: 70px;
    border-radius: 8px;
    background-color: #4da6ff;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

#signInRedirect:hover {
    opacity: 0.7;
}

#signUpRedirect {
    position: relative;
    left: 60px;
    top: 70px;
    border-radius: 8px;
    background-color: #4da6ff;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

#signUpRedirect:hover {
    opacity: 0.7;
}

#ClientsRedirect {
   position: relative;
    left: 40px;
    top: 70px;
    border-radius: 8px;
    background-color: #4da6ff;
    border: none;
    color: white;
    padding: 40px 100px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

#ClientsRedirect:hover {
    opacity: 0.7;
}
