#heading {
     text-align: center;
     font-size: 48px;
     font-weight: bold;
     margin: auto;
     margin-top: 12%;
     position: relative;
     margin-right:20%;
}

.center {
     padding-top: 10%;
     margin: auto;
     width: 46.9%;
     height: 83.3%;
}

#id_username {
     width: 39%;
     margin-bottom: 20px;
     margin-left: -13%
}

#id_password {
     width: 39%;
     margin-bottom: 60px;
}

#login_button {
     width:86%;
     padding: 35px; 
     margin-bottom: 60px;
     margin-left:-13%;
}

#registerButton {
     text-align: center;
     margin: auto;
     height: 50px;
     font-size: 18px;
     margin-right: 34%;
}
