#heading {
     text-align: center;
     font-size: 48px;
     font-weight: bold;
     margin: auto;
     margin-top: 10%;
     position: relative;
     left: 0px;
}

.page_center {
     padding-top: 10%;
     margin: auto;
     width: 70%;
     height: 83.3%;
}



#id_username {
     width: 40%;
     margin-bottom: 5%;
}

#id_password {
     width:41%;
     margin-bottom: 5%;
}

#id_password2 {
     width: 500px;
     margin-bottom: 5%;
}

#signUpButton {
     width: 100%;
     padding: 10%; 
     margin-bottom: 60px;
     margin-top: -5%;
}
