<!DOCTYPE html>

{% extends 'base.html' %}

{% block body_block %} 

<link rel="stylesheet" href="{{STATIC_URL}}css/index.css" />
       <div id= mainSection class="inner cover">
            <h1 class="heading">GainzBro23's graph! </h1><br>
              
              <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.css" type="text/css" />
              {{ div | safe }}
              <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
              {{ script | safe }}
            </p>
        </div>

{% endblock %}
