<!DOCTYPE html>

{% extends 'base.html' %}

{% block body_block %} 
<link rel="stylesheet" href="{{STATIC_URL}}css/index.css" />
       <div id= clientSection class="inner cover">
            <h1 class="heading">{{username}}'s Supervisees! </h1><br>
 	    <ul class="clientList">
  		<li  class="clientItem">
                        <a href="{% url 'client1' %}" class = "clientUsername">GainzBro23:</a>
			<div class = "clientName">Travis Boyd</div>
                        <div class = "clientInfo">This Week: <br> Gained 4kg</div>
		</li>
  		<li class="clientItem">
			<a href= "{% url 'client2' %}" class = "clientUsername">NandosLad46:</a>
			<div class = "clientName">Ryan MacPherson</div>
                        <div class = "clientInfo">This Week: <br> Lost 1kg</div>
		</li>
  		<li class="clientItem">
			<a href= "{% url 'client3' %}" class = "clientUsername">ILikeCake99:</a>
			<div class = "clientName">Cindy Mitchell</div>
                        <div class = "clientInfo">This Week: <br> Lost 1kg</div>
		</li>
                <li class="clientItem">
			<a class = "clientUsername">AlexK5:</a>
			<div class = "clientName">Alexandra King</div>
                        <div class = "clientInfo">This Week: <br> Gained 2kg</div>
		</li>
                <li class="clientItem">
			<a class = "clientUsername">Tim7Hoskins:</a>
			<div class = "clientName">Timothy Hoskins</div>
                        <div class = "clientInfo">This Week: <br> Lost 3kg</div>
		</li>
	    </ul>
{% endblock %}
