<!DOCTYPE html>

{% extends 'base.html' %}

{% block body_block %} 

<link rel="stylesheet" href="{{STATIC_URL}}css/index.css" />
       <div id= mainSection class="inner cover">
            <h1 class="heading">ILikeCake99's Progress! </h1><br>
              

            <div class="popup1" onclick="myFunction()">Summary <br><br><br>
	        <a class="popuptext" id="summaryPopup">Starting Weight: 98kg</a><br><br>
                <a class="popuptext" id="summaryPopup2">End Weight: 81kg</a><br><br>
                <a class="popuptext" id="summaryPopup3">Weight Change: -17kg</a>
	    </div>

	    <script>
	// When the user clicks on div, open the popup
	    function myFunction() {
	    	var popup = document.getElementById("summaryPopup");
                var popup2 = document.getElementById("summaryPopup2");
                var popup3 = document.getElementById("summaryPopup3");
	    	popup.classList.toggle("show");
                popup2.classList.toggle("show");
                popup3.classList.toggle("show");
	    }
	    </script>

            <div class="popup2" onclick="displayGraph()">Weight Change <br><br><br>
	        <!-- possibly put in the pie/bar chart here-->
		<a class="popuptext" id="graph">
			<link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.css" type="text/css" />
			{{ div1 | safe }}
			<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
			{{ script1 | safe }}
		</a><br><br>
	    </div>

	    <script>
	// When the user clicks on div, open the popup
	    function displayGraph() {
	    	var popup = document.getElementById("graph");
	    	popup.classList.toggle("show");
		
	    }
	    </script>
              <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.css" type="text/css" />
              {{ div | safe }}
              <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
              {{ script | safe }}
            </p>
        </div>

{% endblock %}
