<!DOCTYPE html>

{% extends 'base.html' %}

{% block body_block %} 

{% if is_supervisor == False %}
<link rel="stylesheet" href="{{STATIC_URL}}css/index.css" />
       <div id= mainSection class="inner cover">
            <h1 class="heading">{{username}}'s graph! </h1><br>
              
              <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.css" type="text/css" />
              {{ div | safe }}
              <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.10.min.js"></script>
              {{ script | safe }}
            </p>
        </div>
{% else %}
<link rel="stylesheet" href="{{STATIC_URL}}css/index.css" />
       <div id= mainSection class="inner cover">
            <h1 class="heading2">Welcome {{username}} </h1><br>
            <p class="descAndButtons">Do you want to see your the progress of your Clients? <br> <br>
            <a href="" id="ClientsRedirect" class="btn btn-lg btn-primary btn-block">Click here to see your clients.</a>

{% endif %}

{% endblock %}
